html{
	    background-image: url("./images/btile.gif");
}

body{
    font-family:Helvetica;
    font-size: 12px;
    font-style: italic;
    letter-spacing:-1px;
    width:12000px;
    height:500px;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;

    overflow: hidden;
}

a{
	text-decoration: none;
}



.title{
	color: white;
	position: fixed;
	margin-left: 50px;
}

.title img{
	height: 100px;
	width: 400px;
}

h2{
	margin-left: -50px;
	display:block;
    color:#fff;
    text-shadow: 1px 1px 0px #2c2e38, 1px 1px 0px #5c5f72;
    font: 20px 'BazarMedium';
    letter-spacing: 2px;
}

ul{
    list-style:none;
    margin:20px 0px 0px 0px;
}
ul li{
    float:left;
    padding:5px;
    margin:5px;
    font-weight: bolder;
    font-size:large;
    color:#aaa;
}
ul li a{
    display:block;
    color:#fff;
    text-shadow: 1px 1px 0px #2c2e38, 1px 1px 0px #5c5f72;
    font: 18px 'BazarMedium';
    letter-spacing: 2px;
}
ul li a:hover{
	font-weight: bolder;
    display:block;
    color:#fff;
    text-shadow: 1px 1px 0px #2c2e38, 1px 1px 0px #5c5f72;
    font: 20px 'BazarMedium';
    letter-spacing: 2px;
    border-bottom: 4px solid #68787e;
    
}

/***********************************
	  Navigation Bar styles
***********************************/
.nav{
	text-align: left;
	position: fixed;
}


/***********************************
		Tile styles
***********************************/

.tile{
	display: inline-block;
	height: 80px;
	width: 140px;
	padding-top: 40px;
	background-color: #081b75;
	text-align: center;
	margin: .5%;
	cursor: pointer;
	box-shadow: 5px 5px 1px rgba(0,0,0,0.42);
}

.tile a{
	color: white;
	text-align: center;
}

.tile:hover{
	background-color: #5babdd;
}

/***********************************
	Notification Tile styles
***********************************/
.notificationTile{
	display: inline-block;
	height: 80px;
	width: 200px;
	padding-top: 40px;
	background-color: #081b75;
	text-align: center;
	color:white;
	overflow: hidden;
	margin-right: .5%;
	margin-top:.5%;
	margin-bottom: .5%;
	box-shadow: 5px 5px 1px rgba(0,0,0,0.42);
}

.notificationTile p{
	text-decoration: none;
	color:white;
	text-align: center;
}


/***********************************
		Tile Sections
***********************************/
.tileSection{
	float: left;
	width: 500px;
}

.section{
    margin-left: 50px;
    bottom:0px;
    width:850px;
    float:left;
    height:100%;
    padding: 20px;
    
}
.section h2{
    margin:50px 0px 30px 50px;
}
.section p{
    margin:20px 0px 0px 50px;
    width:600px;
}
.black{
    color:#fff;   
}

